.App {
  text-align: center;
}

.deck {
  width: 70%;
  height: 80vh;
  min-width: 350px;
  background: black;
  margin: 10vh auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;

}

.card {
  width: 23%;
  background: blue;
  margin: 1px;
  height: 23%;

}

